{% extends 'main/base.html' %}
{% block content %}
        {% for post in post_list %}
        <div class="post">
            <div class="title">
                {{ post.title }}
            </div>
            <div class="username">
                {{ post.username }}
            </div>
            <div class="content">
                {{ post.content }}
            </div>
        </div>
        {% if request.session.username ==  post.username %}
        <a href="/main/delete_blog/?title={{ post.title }}&username={{ post.username }}"><p class = "delete">Delete</p></a>
        {% endif %}
        <hr/>
        {% endfor %}
{% endblock content %}
