# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
profile_pic/
.Python
env/
3env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.pytest_cache
*.orig
main/*.org
main/tests/*.orig
execeptions/*.orig

# Django stuff:
*.log

# PyBuilder
target/
main/migrations/
.idea/
db.sqlite3
media/
*~
*.swp
*.swo

# pycache
.pytest_cache/
